<h3>Thank you for joining us!</h3>

<p>Hello, {{ user.username }}! You've been successfully registered into our app.</p>
<p>Please, confirm your email address by clicking <a href="{{ url('user_confirm', {'confirmationToken': user.confirmationToken}) }}">on this link</a>.</p>
<p>Thank you!</p>